* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Garamond;
  list-style: none;
  text-decoration: none;
}

.bg-nav {
  background-color: rgb(16, 16, 16);
}

.bg-main {
  background-color: #0e1314;
}

.bg-second {
  background-color: #92aeb5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(header.jpg);
  background-size: 100%, cover;
  background-position: 50% 45%;
  height: 440px;
}

.banner-second {
  margin: 0 13rem 0 13rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-text {
  animation: fadeIn 1s ease-out;
}

.mt-l-auto {
  margin-left: auto;
}

.mt-r-auto {
  margin-right: auto;
}

.banner-container img {
  max-width: 100%;
  height: auto;
}

.text2 {
  color: #718387;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.showcases-one {
  height: 35rem;
}
